<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task form</title>
    <!--<meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css} "/>-->
    <th:block th:insert="fragments/head :: head"></th:block>
</head>

<body>

<!--/*@thymesVar id="task" type="com.np.issue.tracker.task.TaskDto"*/-->
<div class="container">
    <th:block th:insert="fragments/header :: header"></th:block>
    <h1>Task</h1>
    <form th:object="${task}" th:action="@{/task}" method="POST">
        <div class="mb-3">
            <input class="form-control" type="hidden" th:field="*{id}">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" type="text" th:field="*{title}" th:value="${task.title}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input id="description" class="form-control" type="text" th:field="*{description}"
                   th:value="${task.description}">
        </div>
        <input class="btn btn-primary" type="submit" id="submitButton" th:value="Save">
        <span th:if="${task.id != null}">
            <a th:href="${'/task/delete/' + task.id}" class="btn btn-danger">Delete</a>
        </span>
    </form>
</div>

</body>
</html>